.arrow {
    display: flex;
    align-self: center;
    padding-left: 10%;
    a {
        text-decoration: none;
    
        i {
            display: flex;
            color: $main-text-color;
            width: 17px;
            height: 16px;
        }
    }
}
.menu {
    position: relative;
    display: flow-root;
    
    img {
        object-fit: cover;
        height: 275px;
        width: 100%;
       
        }
    }
.card-food {
    margin-block-start: -56px;
    opacity: 99%;
    background: $second-background-color;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    @include breakpoints-tablet {
        width: 80%;
        margin-inline: auto;
        display: flex;
        align-items: center;
    }
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        @include breakpoints-tablet {
            justify-content: center;
        }
        h1 {
            width: 70%;
            font-family: 'Shrikhand', cursive;
            margin-left: 10px;
            @include breakpoints-tablet {
                width: 33%;
            }
        }
    }
}
.full-menus {
    display: flex;
    flex-direction: column;
    width: 100%;
    h2 {
        font-size: $txt + 1;
        font-weight: 300;
        height: 27px;
        margin-left: 15px;
        border-bottom: solid 3px $card-badge-color;
        width: 10%;
        @include breakpoints-tablet {
            width: 5%;
        }
    }
    .card-menu {
        padding-right: 17px;
    
        &:hover .menu-price {
            right: 6em;
        }
        &:hover .check {
            display: flex;
            visibility: visible;
            width: 10%;
            background-color: $card-badge-color;
            position: absolute;
            height: 4em;
            right: -57px;
            top: 0;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            }
    }
} 
.menus {
    display: grid;
    animation-duration: 1s;
    animation-name: slidein;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    position: relative;
    height: 4em;
    @include breakpoints-tablet {
        width: 100%;
    }
    &:hover .check {
        visibility: visible;
        transition-duration: 1s;
    }
    h3, p {
        margin: 0 10px;
    }
    p {
        font-size: $txt;  
    }
    .menu-price {
        position: absolute;
        justify-self: end;
        align-self: flex-end;
        top: -1px;
        right: -14px;
        .price {
            position: absolute;
            top: 30px;
            right: 15px;
            &:hover {
                right: 53px;
            }
        }
    }
    &:hover .check{
        opacity: 1;
        transform: translate(-50px);
        }   /*
            &:hover .fa-circle-check {
                transform: rotate(360deg);
            }*/
    .check {
        visibility: hidden;
        transition-duration: 1s;
        background-color: $card-badge-color;
        position: absolute;
        display: flex;
        opacity: 0;
        width: 10%;
        height: 4em;
        right: -51px;
        top: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        &:hover {
            visibility: visible;
        } 
        & i {
            visibility: visible;
            color: white;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            }
        }
    }

    @keyframes slidein {
        from {
          margin-top: 100%;
          
          visibility:hidden;
        }
      
       50%{
            visibility:hidden;
          
        }
        60%{
            visibility:visible;
          margin-top: 25%;
        }
         70%{
            visibility:visible;
          margin-top: 20%;
            }
         80%{
            visibility:visible;
          margin-top: 15%;
          
        }
         90%{
            visibility:visible;
            margin-top: 10%;
            }
         95%{
            visibility:visible;
          margin-top: 5%;
           }
      
        to {
          margin-top: 0%;
          visibility: visible;
        }
      }
    
   /* 
.menu {
    @include breakpoints-tablet {
            
    }
    h2 {
        font-size: $txt + 1;
        font-weight: 300;
        height: 27px;
        margin-left: 15px;
        border-bottom: solid 3px  $card-badge-color;
        width: 10%;
        @include breakpoints-tablet {
            width: 5%;
        }
    }
        
}*/

.fa-heart {
    background-color: transparent;
    margin-right: 20px;
    align-self: center;
    i {
        width: 22px;
        height: 21px;
    }
    &:hover { 
        animation: heart 1s 0s forwards;
    }
}

@keyframes heart {
    0% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      10% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 10%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      20% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 20%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      30% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 30%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      40% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 40%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      50% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 50%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      60% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 60%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      70% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 70%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      80% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 80%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      90% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 90%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      100% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
}
.menu {
    @include breakpoints-tablet {
        
    }
    h2 {
        font-size: $txt + 1;
        text-transform: uppercase;
        height: 27px;
        margin-left: 15px;
        border-bottom: solid 3px  $card-badge-color;
        width: 10%;
        @include breakpoints-tablet {
            width: 5%;
        }
    }
    
}/*
.menu-restaurant {
    @include flex(column,none,none);
    transition: padding-right 450ms ease-in-out;
    article {
        margin: 15px;
        position: relative;
        height: 4em;
       &:hover .menu-price {
            right: 8em;
        }
        &:hover .check {
            display: flex;
            visibility: visible;
            width: 10%;
            background-color: $card-badge-color;
            position: absolute;
            height: 4em;
            right: -57px;
            top: 0;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
             }
        h3 {
            margin: 10px 0 5px 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p {
            font-size: $txt;
            margin: 0 0 5px 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .menu-price {
            position: absolute;
            top: 38px;
            right: 15px;
        }
        &:hover .check {
            opacity: 1;
            transform: translate(-350px);
        }
        .check {
            visibility: hidden;
            
             & i:checked, & i {
                 visibility: visible;
                 color: white;
                 width: 100%;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 }
             }
    }
}

   */
.command {
    display: flex;
    height: 7em;
    justify-content: center;
    align-items: center;
    .control {
        width: 186px;
    }
}