body {
    font-family: $writing-type; 

    margin: 0px;
}

.main-container{
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    text-align: center;
    
    .logo {
        min-width: 100%;
        height: 4em;
        display: flex; 
        justify-content: center;
        align-items: center;
        img {
            height: 4em;
            width: 40%;
        }
    }
}
.bar-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;
    height: 3em;
    background: $second-color;
    padding-left: 36px;

    .input-search {
        border: none;
        background: none;
    }
}
.announces {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $main-color;
    width: 100%;
    height: 16rem;
    @include breakpoints-tablet {
        height: 13rem;
    }
    h1 {
        font-weight: 700;
        width: 75%;
    }
    p {
        font-weight: 300;
        font-size: $txt + 3;
        width: 90%;
    }
}
button {
    font-weight: 500;
    color: $neutral-color;
    height: 3em;
    border: none;
    @include gradient(bottom, $button);
    border-radius: 25px;
}
h1, h2 {
    font-size: $txt + 9;
}
.input-search, button, ol, .txt{
    font-size: $txt + 1;
    font-family: $writing-type;
}
ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    
    & ol {
        margin: 0 0 0 2em;
    }
    &.rounded-list {
        @include breakpoints-desktop { 
            display: flex;
        }
    }
}
    
    li {
        width: 100%;
        padding-bottom: 15px;
    }   

.rounded-list  { 
    @include breakpoints-tablet {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        .grid1 {
            @include breakpoints-tablet {
                grid-column: 1/3;
            }
        }
        .grid2 {
            @include breakpoints-tablet {
                grid-column: 3/5;
            }
        }
        .grid3 {
            @include breakpoints-tablet {
                grid-column: 2/4;
            }
        }
    }
    button {
    position: relative;
    display: flex;
    align-items: center;
    background: $second-background-color;
    border: 1px solid $second-border-color;
    color: $main-text-color;
    text-decoration: none;
    border-radius: 1em;
    height: 72px;
    width: 90%;
    
        &:hover {
            filter: opacity(0.60);
        }

        &:before {
        content: counter(li);
        counter-increment: li;
        position: initial;
        margin-top: -0.3em;
        margin-left: -1.3em;
        background: $li-icon-color;
        color: $neutral-color;
        height: 2em;
        width: 2em;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
        display: grid;
        align-items: center;
        }
    }
}
.fa-mobile-screen-button, .fa-list-ul{
    color: #7e7e7e ;
}
 .fa-store {
    color: $li-icon-color;
 }
.button-function {
    i {
        margin: 30px;
    }
}
.restaurants {
    background-color: $main-color;
    .card-restaurants{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.card-content {
    width: 80%;
    align-self: center;
    @include breakpoints-tablet {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 2em;    
    }
    article {
        @include breakpoints-tablet {
            width: 50%;
        }
    }
}
.img-restaurants {
    position: relative;
    height: 15em;
    
    p {
        position: absolute;
        top: 19px;
        right: 39px;
        background-color: $card-badge-color;
        width: 24%;
        height: 2em;
        text-align: center;
        color: $badge-text-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.card {
    background-color: $neutral-color;
    border-radius: 15px;
    margin-bottom: 15px;

    img {
        object-fit: cover;
        width: 100%;
        height: 14em;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;

    }
}
.card-txt {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    
    h3 {
        margin: 0;
    }
    p {
        margin: 5px;
    }
    .fa-heart {
        position: absolute;
        z-index: 1;
        top: 1em;
        right: 2em;
        background-color: transparent;

        i {
            width: 2em;
            height: 21px;
        }
        &:hover { 
            animation: heart 1s 0s forwards;
        }
    }
}

span {
    text-transform: uppercase;
}
object {
    width: 100%;
    height: 14em;
    position: relative;
    @include breakpoints-tablet {
        height: 5em;
    }
}
footer {
    background-color: $footer-color;
    color: $neutral-color;
    display: flex;
    flex-direction: column;
    @include breakpoints-tablet {
        flex-direction: row;
        justify-content: center;    
    }
    
    .logo-footer {
        height: 3em;
        margin-left: 35px;
        margin-top: 18px;
        @include breakpoints-tablet {
            order: 2;
            margin: 15px;
            align-self: end;
        }
    
        img {
            width: 137px;
            height: 1.5em;
            filter: invert(1);
            padding-top: 20px;
            padding-right: 10px;
        }
    }
    ul {
        list-style-type: none;
        @include flex(column,none,center);
        @include breakpoints-tablet {
            display: grid;
            align-items: end;
        }
        li {
            display: flex;
            gap: 10px;
            @include breakpoints-tablet {
                padding-bottom: 0;
            }
            p {
                margin: 0;
            }
        }
    }
}
footer {
    p {
        font-size: $txt;
    }
    .hover {
        cursor: pointer;
        transition-property: transform;
        transition-duration: 1s;
        &:hover {
            transform: scale(1.15);
        }
        a {
           text-decoration: none;
           color: white; 
      
        }
    }
}
.grid-end1 {
    @include breakpoints-tablet {
    grid-column-end: 3;
    grid-column-start: 2;
    width: 12em;
    }
}
.grid-end2 {
    @include breakpoints-tablet {
    grid-column-end: 4;
    grid-column-start: 3;
    width: 11em;
    }
}
.grid-end3 {
    @include breakpoints-tablet {
    grid-column-end: 5;
    grid-column-start: 4;
    margin: 0px 9px;
    width: 8em;
    }
}
.grid-end4 {
    @include breakpoints-tablet {
    grid-column-end: 6;
    grid-column-start: 5;
    width: 5em;
    }
}
