/*#89C8FA;
#003A68;*/
@keyframes heart {
  0% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  10% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 10%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  20% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 20%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  30% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 30%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  40% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 40%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  50% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 50%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  60% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 60%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  70% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 70%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  80% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 80%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  90% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  100% {
    background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
}
@keyframes slidein {
  from {
    margin-top: 100%;
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  60% {
    visibility: visible;
    margin-top: 15%;
  }
  70% {
    visibility: visible;
    margin-top: 12%;
  }
  80% {
    visibility: visible;
    margin-top: 10%;
  }
  90% {
    visibility: visible;
    margin-top: 8%;
  }
  95% {
    visibility: visible;
    margin-top: 5%;
  }
  to {
    margin-top: 0%;
    visibility: visible;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
}
header .logo {
  min-width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  height: 4em;
  width: 40%;
}
@media screen and (min-width: 768px) {
  header .logo img {
    width: 22%;
  }
}

.bar-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  height: 3em;
  background: #EAEAEA;
  padding-left: 36px;
}
.bar-search .input-search {
  border: none;
  background: none;
}

.announces {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #D2D2D2;
  width: 100%;
  height: 16rem;
}
@media screen and (min-width: 768px) {
  .announces {
    height: 13rem;
  }
}
.announces h1 {
  font-weight: 700;
  width: 75%;
}
.announces p {
  font-weight: 300;
  font-size: 18px;
  width: 90%;
}

button {
  font-weight: 500;
  color: white;
  height: 3em;
  border: none;
  background: -webkit-linear-gradient(bottom, #9356DC 65%, #FF79D4 123%);
  border-radius: 25px;
}

h1, h2 {
  font-size: 24px;
}

.input-search, button, ol, .txt {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
}
ol ol {
  margin: 0 0 0 2em;
}
@media screen and (min-width: 1024px) {
  ol.rounded-list {
    display: flex;
  }
}

li {
  width: 100%;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .rounded-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .rounded-list .grid1 {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .rounded-list .grid2 {
    grid-column: 3/5;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .rounded-list .grid3 {
    grid-column: 2/4;
  }
}
.rounded-list button {
  position: relative;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  border: 1px solid #f6f6f6;
  color: black;
  text-decoration: none;
  border-radius: 1em;
  height: 72px;
  width: 90%;
}
.rounded-list button:hover {
  filter: opacity(0.6);
}
.rounded-list button:before {
  content: counter(li);
  counter-increment: li;
  position: initial;
  margin-top: -0.3em;
  margin-left: -1.3em;
  background: #9356DC;
  color: white;
  height: 2em;
  width: 2em;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
  display: grid;
  align-items: center;
}

.fa-mobile-screen-button, .fa-list-ul {
  color: #7e7e7e;
}

.fa-store {
  color: #9356DC;
}

h2 {
  margin-left: 40px;
}

.button-function i {
  margin: 30px;
}

.restaurants {
  background-color: #D2D2D2;
}
.restaurants .card-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content {
  width: 80%;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .card-content {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 2em;
  }
}
@media screen and (min-width: 768px) {
  .card-content article {
    width: 50%;
  }
}

.img-restaurants {
  position: relative;
  height: 15em;
}
.img-restaurants p {
  position: absolute;
  top: -3px;
  right: 19px;
  background-color: #99E2D0;
  width: 27%;
  height: 2em;
  text-align: center;
  color: #008766;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 14em;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card-txt {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
}
.card-txt h3 {
  margin: 0;
}
.card-txt p {
  margin: 5px;
}
.card-txt .fa-heart {
  position: absolute;
  z-index: 1;
  top: 1em;
  right: 0em;
  background-color: transparent;
}
.card-txt .fa-heart i {
  width: 2em;
  height: 21px;
}
.card-txt .fa-heart:hover {
  animation: heart 1s 0s forwards;
}

span {
  text-transform: uppercase;
}

object {
  width: 100%;
  height: 14em;
  position: relative;
}
@media screen and (min-width: 768px) {
  object {
    height: 5em;
  }
}

footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: end;
  }
}
footer .logo-footer {
  height: 3em;
  margin-left: 35px;
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  footer .logo-footer {
    order: 2;
    margin: 15px;
    align-self: end;
  }
}
footer .logo-footer img {
  width: 137px;
  height: 1.5em;
  filter: invert(1);
  padding-top: 20px;
  padding-right: 10px;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: grid;
    align-items: end;
    padding: 0;
  }
}
footer ul li {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  footer ul li {
    padding-bottom: 0;
  }
}
footer ul li p {
  margin: 0;
}

footer p {
  font-size: 15px;
}
footer .hover {
  cursor: pointer;
  transition-property: transform;
  transition-duration: 1s;
}
footer .hover:hover {
  transform: scale(1.15);
}
footer .hover a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .grid-end1 {
    grid-column-end: 3;
    grid-column-start: 2;
    width: 12.5em;
  }
}

@media screen and (min-width: 768px) {
  .grid-end2 {
    grid-column-end: 4;
    grid-column-start: 3;
    width: 11em;
  }
}

@media screen and (min-width: 768px) {
  .grid-end3 {
    grid-column-end: 5;
    grid-column-start: 4;
    margin: 0px 9px;
    width: 8em;
  }
}

@media screen and (min-width: 768px) {
  .grid-end4 {
    grid-column-end: 6;
    grid-column-start: 5;
    width: 5em;
  }
}

.position-menu {
  position: relative;
  width: 100%;
}

.arrow {
  display: flex;
  align-self: center;
  position: absolute;
}
.arrow a {
  text-decoration: none;
}
.arrow a i {
  display: flex;
  color: black;
  width: 1em;
  height: 1em;
}

.menu {
  position: relative;
  display: flow-root;
}
.menu img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

.card-food {
  margin-block-start: -56px;
  opacity: 99%;
  background: #f7f7f7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .card-food {
    width: 80%;
    margin-inline: auto;
    display: flex;
    align-items: center;
  }
}
.card-food .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card-food .title {
    justify-content: center;
  }
}
.card-food .title h1 {
  font-family: "Shrikhand", cursive;
  margin-left: 10px;
}
.card-food .title i {
  margin-right: 0;
  margin-left: 23px;
}

.full-menus {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.full-menus h2 {
  font-size: 16px;
  font-weight: 300;
  height: 27px;
  margin-left: 15px;
  border-bottom: solid 3px #99E2D0;
  width: 6%;
}
@media screen and (min-width: 768px) {
  .full-menus h2 {
    width: 5%;
  }
}
.full-menus .card-menu {
  padding-right: 17px;
}
.full-menus .card-menu .check {
  display: flex;
  visibility: visible;
  width: 20%;
  background-color: #99E2D0;
  position: absolute;
  height: 4em;
  right: -57px;
  top: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media screen and (min-width: 768px) {
  .full-menus .card-menu .check {
    width: 12%;
  }
}
@media screen and (min-width: 1024px) {
  .full-menus .card-menu .check {
    width: 8%;
  }
}
.full-menus .card-menu .check:hover {
  width: 12%;
}

.card-menu:hover .fa-circle-check {
  transform: rotate(360deg);
  transition: transform 1s ease-in-out;
}

.menus {
  display: grid;
  animation: slidein 2s 1;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  position: relative;
  height: 4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .menus {
    width: 100%;
  }
}
.menus .check {
  visibility: visible;
  transition-duration: 1s;
}
.menus h3, .menus p {
  width: 80%;
  margin: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menus:hover p {
  width: 60%;
}
.menus p {
  font-size: 15px;
}
.menus:hover .menu-price {
  right: 20%;
}
@media screen and (min-width: 1024px) {
  .menus:hover .menu-price {
    right: 8%;
  }
}
.menus .menu-price {
  position: absolute;
  top: 32px;
  right: 10px;
  transition-duration: 1s;
  display: flex;
  align-items: center;
}
.menus .menu-price .price:hover {
  right: 53px;
}
.menus:hover .check {
  opacity: 1;
  transform: translate(-50px);
}
.menus:hover .fa-circle-check {
  transform: rotate(360deg);
}
.menus .check {
  visibility: hidden;
  transition-duration: 1s;
  background-color: #99E2D0;
  position: absolute;
  display: flex;
  opacity: 0;
  width: 10%;
  height: 4em;
  right: -51px;
  top: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menus .check:hover {
  visibility: visible;
}
.menus .check i {
  visibility: visible;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.menus:hover .fa-circle-check {
  transform: rotate(360deg);
}

.fa-heart {
  background-color: transparent;
  margin-right: 20px;
  align-self: center;
}
.fa-heart i {
  width: 2em;
  height: 21px;
}
.fa-heart:hover {
  animation: heart 1s 0s forwards;
}

.command {
  display: flex;
  height: 7em;
  justify-content: center;
  align-items: center;
}
.command .control {
  width: 186px;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes title {
  0% {
    right: -141px;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.11, 0.38, 0.25, 1);
  }
  /*50% {
    right: 80px;

  }*/
  100% {
    right: 20px;
    opacity: 1;
    transition-timing-function: cubic-bezier(0, 0.87, 0, 0.97);
  }
}
@keyframes placements {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  animation: loader 5s ease-in-out 3s forwards;
  pointer-events: none;
}
.loader .animation-loader {
  color: #9356DC;
  align-self: center;
  font-size: xxx-large;
  transform: translateX(-200%);
}
.loader .animation-loader i {
  transform: rotate(79deg);
  transition: transform 2s ease-in-out;
}
.loader .animation-loader .placement {
  transform: skewX(46deg) translateX(81px);
  animation: placements 2s ease-in-out;
}
.loader .animation-loader .fall {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background: -webkit-linear-gradient(bottom, #9356DC 65%, #FF79D4 123%);
  margin: 10px;
}
.loader .title-loader {
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: bolder;
  color: #9356DC;
  position: absolute;
  top: 14%;
  right: -78px;
  animation: title 8s 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
