@keyframes heart {
    0% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      10% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 10%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      20% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 20%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      30% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 30%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      40% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 40%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      50% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 50%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      60% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 60%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      70% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 70%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      80% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 80%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      90% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 90%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
      100% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
      }
    
}

@keyframes slidein {
    from {
      margin-top: 100%;
      
      visibility:hidden;
    }
  
   50%{
        visibility:hidden;
      
    }
    60%{
        visibility:visible;
      margin-top: 25%;
    }
     70%{
        visibility:visible;
      margin-top: 20%;
        }
     80%{
        visibility:visible;
      margin-top: 15%;
      
    }
     90%{
        visibility:visible;
        margin-top: 10%;
        }
     95%{
        visibility:visible;
      margin-top: 5%;
       }
  
    to {
      margin-top: 0%;
      visibility: visible;
    }
  }