@mixin breakpoints-tablet {
    @media screen and ( min-width: map-get($breakpoints,breakpoints-tablet)) {
        @content;
    }
}

@mixin breakpoints-desktop {
    @media screen and ( min-width: map-get($breakpoints,breakpoints-desktop)){
        
    }
}

@mixin gradient($direction, $button) { 
    background: -webkit-linear-gradient($direction, $button);
}

@mixin flex($placement, $justify, $align :center){
    display: flex;
    flex-direction: $placement;
    align-items: $align;
    justify-content: $justify;
}